<a href="https://colab.research.google.com/github/camilorey/material_clases/blob/main/busquedas_banco_class_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#librerías de conexión a una base de datos
import psycopg2 as Psycopg2
#paquetes de manejo de datos
import pandas as Pandas
#vamos a importar la librería para dividir el dataset. 
from sklearn.model_selection import train_test_split
#el paquete con el que vamos a hacer un clasificador de árbol
from sklearn.tree import DecisionTreeClassifier
#para evaluar un clasificador de árbol
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Credenciales de la Base de Datos

In [ ]:
#credenciales de la Base de Datos Elephant del banco Class-A
servidor_db = 'lallah.db.elephantsql.com'
nombre_db = 'jjcltkov'
usuario_db = 'jjcltkov'
password_db = 'xL1IczpM2h36TbBbVz7dpIhgL8SgsWxI'

Un bloque de código que almacena las búsquedas que hagamos en la DB como un DataFrame.

In [ ]:
def busquedaComoDataFrame(queryBusqueda):
  conexionDB = None
  resultado = None #dataframe que contendrá el resultado de la búsqueda
  try:
    #vamos a hacer la conexión a la base de datos (Esta instrucción siempre es igual)
    conexionDB = Psycopg2.connect(host=servidor_db,database=nombre_db,user=usuario_db,password=password_db)
    #vamos a confirmar que estamos conectados a la base de datos
    print("conexión establecida con la base de datos")
    #vamos a ejecutar el comando y meterlo de una dentro del DataFrame
    resultado = Pandas.read_sql_query(queryBusqueda,conexionDB)
    print("resultado obtenido, todo bien")
    #ahora cerramos la conexión
    conexionDB.close()
  except (Exception,Psycopg2.DatabaseError) as Error:
    print("Ha ocurrido un error")
    print(Error)
  finally:
    if conexionDB is not None:
      conexionDB.close()
  #sea como sea el ingreso a la DB fue hecho, necesitamos retornar el resultado
  return resultado

Podemos hacer búsquedas en la base de datos pasando

In [ ]:
query_tipoTransaccion = """SELECT * FROM tipoTransaccion"""
tiposTransaccion = busquedaComoDataFrame(query_tipoTransaccion)
tiposTransaccion

conexión establecida con la base de datos
resultado obtenido, todo bien

   tipotransaccion_id tipotransaccion
0                   1         INGRESO
1                   2          EGRESO

vamos a consultar la vista de ingresos diarios (por fecha)

In [ ]:
ingresos_diarios = busquedaComoDataFrame("""SELECT * FROM  ingresos_por_fecha""")
ingresos_diarios.head()

conexión establecida con la base de datos
resultado obtenido, todo bien

        fecha  vol_ingreso  promedio_ingreso  num_ingresos
0  2020-11-08   6560461.33      78100.730119            84
1  2020-11-09   6341780.49      79272.256125            80
2  2020-11-10   9865394.80      99650.452525            99
3  2020-11-11   6551522.05      83993.872436            78
4  2020-11-12   9348107.57     128056.268082            73

In [ ]:
egresos_diarios = busquedaComoDataFrame("""SELECT * FROM  egresos_por_fecha""")
egresos_diarios.head()

conexión establecida con la base de datos
resultado obtenido, todo bien

        fecha   vol_egreso  promedio_egreso  num_egresos
0  2020-11-08  18692583.27     58051.500839          322
1  2020-11-09  18495530.62     63124.677884          293
2  2020-11-10  19060561.64     58111.468415          328
3  2020-11-11  16428108.41     50548.025877          325
4  2020-11-12  16627352.62     51960.476938          320