<a href="https://colab.research.google.com/github/camilorey/material_clases/blob/main/tablasDeContingencia_datosBogota.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as Pandas
import psycopg2

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Debido a la gran cantidad de datos y su estructura, este dataset se presta mucho para almacenarlo en una Base de Datos. Este dataset en últimas tiene solo una variable numérica (la edad) y tanto la fecha como la hora son tipo TIMESTAMP. Mientras que los datasets pesaban en total 59MB, gracias a la factorización hecha en la DB pasaron a pesar apenas 3MB en total. 

Asi, tomé la decisión de tercerizar esos datos a una Base de Datos para comprimirla. La base de datos está subida en un SaaS de PostgreSQL llamado ElephantSQL que les permite hostear hasta 20MB de información. El diagrama de la DB lo pueden ver [aquí](https://https://dbdiagram.io/d/5e7cfa144495b02c3b88d373).

In [ ]:
#conexión a la Base de Datos
#parametros de conexion a la DB
parametrosDict = {
    "host":"drona.db.elephantsql.com",
    "database":"autkzlzm",
    "user":"autkzlzm",
    "password":"i9bSQBZCdBn79D74lWGdGVROK6eYuBQn"
}
#esto retorna queries como dataframes
def queryComoDataFrame(sqlQuery):
  DBConnection = None #comenzamos creando un objeto conexión para conectarnos a la DB con los parámetros dados
  resultDataFrame = None #comenzamos con un objeto dataframe vacío.
  try:
    # conectar usando el método connect de pyscopg2
    print('Connecting to the PostgreSQL database...')
    DBConnection = psycopg2.connect(**parametrosDict)
    #usar el Pandas DataFrame para recibir el comando
    resultDataFrame = Pandas.read_sql_query(sqlQuery, DBConnection)
    DBConnection.close()
    return resultDataFrame
  except (Exception, psycopg2.DatabaseError) as error:
    print('Error en el Query:',error)
    return None
  #si algo no ha sido cubierto en los casos anteriores, cerrar la conexión a la base de datos
  finally:
    if DBConnection is not None:
      DBConnection.close()
    print('en caso finally: query ejecutado, resultados en un data frame.')

Para construir una tabla de contingencia sobre dos variables categóricas debemos contar incidencias de las categorías de ambas. Queremos ver independencia entre estas variables categóricas. 

**Para este dataset en particular, estamos viendo la independencia entre localidades y años, entre años de incidentes criminales y si la incidencia criminal es independiente del año. (la pregunta es filosófica). **

En este caso, usé una función SQL para contar el número de incidentes en una localidad por año. Pillen el código para contar el número de incidentes en un año y en una localidad:

```
CREATE OR REPLACE FUNCTION numIncidentesEnLocalidadAno(codLocalidad VARCHAR, ano INTEGER) RETURNS INTEGER
LANGUAGE plpgsql
AS $$
BEGIN
 RETURN count(incidentes.incidente_id)
 FROM incidentes
 WHERE incidentes.codigo_localidad = codLocalidad AND EXTRACT(YEAR FROM incidentes.fecha) = ano;
END;
$$;
```
Esto se puede exportar a Python perfectamente. Sin embargo, prefería mantenerlo en el *Back-End*. Usando esta función es fácil generar una vista SQL que es donde voy a construir la tabla de contingencia 
```
CREATE VIEW incidentesAnuales AS
SELECT localidades.codigo_localidad,
       localidades.nombre_localidad,
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2010) as "2010",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2012) as "2012",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2013) as "2013",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2014) as "2014",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2015) as "2015",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2018) as "2018",
       numIncidentesEnLocalidadAno(localidades.codigo_localidad, 2019) as "2019"
from localidades
group by localidades.codigo_localidad
ORDER BY localidades.codigo_localidad;
```
De modo tal que puedo extraer esa tabla de contingencia de la Base de Datos ya estructurada y desde Python me dedico a hacer cálculos.

In [ ]:
#vamos a mostrar por año el número de incidentes
queryIncidentesAnuales = queryComoDataFrame("SELECT  * from incidentesAnuales")
queryIncidentesAnuales

Connecting to the PostgreSQL database...
en caso finally: query ejecutado, resultados en un data frame.

   codigo_localidad          nombre_localidad  2010  ...  2015  2018  2019
0                01                   USAQUEN    55  ...   326  3028  4494
1                02                 CHAPINERO    23  ...   128    46    19
2                03                  SANTA FE    34  ...    88    53     7
3                04             SAN CRISTOBAL    56  ...   142   139    24
4                05                      USME    74  ...   132   114    46
5                06                TUNJUELITO    32  ...    61    50    18
6                07                      BOSA    97  ...   228   200   211
7                08                   KENNEDY   151  ...   292   245    84
8                09                  FONTIBON    38  ...   107    63    86
9                10                  ENGATIVA    69  ...   320   141    42
10               11                      SUBA    80  ...   412   216    63
11               12            BARRIOS UNIDOS    17  ...   117    39    12
12               13               TEUSAQUILLO    15  ...    84    49     9
13               14              LOS MARTIRES    13  ...    80    34     8
14               15            ANTONIO NARINO    14  ...    30    34    16
15               16             PUENTE ARANDA    25  ...   107    71   118
16               17             LA CANDELARIA     7  ...    25     9    60
17               18        RAFAEL URIBE URIBE    50  ...   131   113    29
18               19            CIUDAD BOLIVAR   197  ...   203   185    55
19               20                   SUMAPAZ     0  ...     0     0     0
20            OTROS  TERMINALES O AEROPUERTOS     0  ...     5     3     3

[21 rows x 9 columns]

Ahora, podemos limpiar este DataFrame para quitar campos que no nos interesan o que podrían arruinar el cálculo. A saber no hay incidentes registrados en la Localidad de Sumapaz y de nada nos sirve el código de localidad.

In [ ]:
#vamos a quitar el registro de la localidad de Sumapaz que no ofrece nada de información
queryIncidentesAnuales = queryIncidentesAnuales.loc[queryIncidentesAnuales['nombre_localidad']!='SUMAPAZ']

Tablas de contingencia se pueden hacer en Excel, R, Stata, etc. Lo bonito de hacerlas en Python es que podemos hacer tablas *asociativas* usando los nombres de las categorías de la variable como hacemos aquí con la función set_index(). 

Esto nos va a permitir hacer las sumas que debemos hacer más fácilmente.

In [ ]:
queryIncidentesAnuales = queryIncidentesAnuales.drop(columns=['codigo_localidad'])
queryIncidentesAnuales = queryIncidentesAnuales.set_index('nombre_localidad')
queryIncidentesAnuales

                          2010  2012  2013  2014  2015  2018  2019
nombre_localidad
USAQUEN                     55    61    36    69   326  3028  4494
CHAPINERO                   23    22    14    32   128    46    19
SANTA FE                    34    21    25    26    88    53     7
SAN CRISTOBAL               56    69   104    86   142   139    24
USME                        74    67    74    80   132   114    46
TUNJUELITO                  32    33    36    32    61    50    18
BOSA                        97   105    86   137   228   200   211
KENNEDY                    151   145   116   136   292   245    84
FONTIBON                    38    46    37    36   107    63    86
ENGATIVA                    69    54    74    84   320   141    42
SUBA                        80   115   114   146   412   216    63
BARRIOS UNIDOS              17    19    16    17   117    39    12
TEUSAQUILLO                 15    19    17    19    84    49     9
LOS MARTIRES                13    22    20    29    80    34     8
ANTONIO NARINO              14    13    16    17    30    34    16
PUENTE ARANDA               25    29    36    33   107    71   118
LA CANDELARIA                7     6     4    10    25     9    60
RAFAEL URIBE URIBE          50    58    59    67   131   113    29
CIUDAD BOLIVAR             197   195   174   129   203   185    55
TERMINALES O AEROPUERTOS     0     2     1     1     5     3     3

Para hacer una prueba de independencia en tablas de contingencia debemos calcular la suma por fila. Comenzamos con la suma por columnas. Estas nos dan la base para calcular probabilidades, usando el viejo esquema de 

>>>$p = \frac{\text{eventos favorables}}{\text{eventos totales}}$

In [ ]:
#vamos a generar un diccionario que contenga la suma por filas
sumaLocalidades = dict(queryIncidentesAnuales.sum(axis = 1, skipna = True))
#vamos a generar un diccionario que contenga la suma por columnas
sumaAnos = dict(queryIncidentesAnuales.sum(axis=0,skipna=True))

Ahora debemos calcular el gran total por fila y por columna

In [ ]:
totalLocalidades = 0
totalAnos = 0
for loc in sumaLocalidades.keys():
  totalLocalidades += sumaFilas[loc]
for ano in sumaAnos.keys():
  totalAnos += sumaAnos[ano]
print(totalLocalidades, totalAnos)
granTotal = totalLocalidades

17647 17647

Ahora podemos construir la *tabla de probabilidades* con esta información. Cada posición de la tabla de contingencia está dada por
>> $t_{ij} = \frac{S_iS_j}{T}$ 

donde $i$ denota la i-ésima fila y $j$ la j-ésima columna. Este cálculo deriva de la regla de probabilidad condicional.

In [ ]:
localidades = list(sumaLocalidades.keys())
anos = list(sumaAnos.keys())
tablaContingencia = Pandas.DataFrame(columns = ['nombre_localidad']+anos)
for loc in localidades:
  filaDict = {}
  filaDict['nombre_localidad'] = loc 
  for ano in anos:
    contingencia = sumaLocalidades[loc]*sumaAnos[ano]/granTotal
    filaDict[ano] = contingencia
  tablaContingencia = tablaContingencia.append(filaDict,ignore_index=True)
tablaContingencia = tablaContingencia.set_index('nombre_localidad')
tablaContingencia

                                2010        2012  ...         2018         2019
nombre_localidad                                  ...
USAQUEN                   478.735366  503.426588  ...  2209.407151  2470.951210
CHAPINERO                  16.849776   17.718819  ...    77.763246    86.968663
SANTA FE                   15.069870   15.847113  ...    69.548818    77.781833
SAN CRISTOBAL              36.784723   38.681929  ...   169.764833   189.861166
USME                       34.826826   36.623052  ...   160.728962   179.755653
TUNJUELITO                 15.544512   16.346234  ...    71.739332    80.231654
BOSA                       63.127330   66.383181  ...   291.338358   325.826259
KENNEDY                    69.357001   72.934153  ...   320.088854   357.980167
FONTIBON                   24.503372   25.767156  ...   113.085284   126.472035
ENGATIVA                   46.514875   48.913923  ...   214.670369   240.082507
SUBA                       67.992407   71.499178  ...   313.791126   350.936930
BARRIOS UNIDOS             14.061257   14.786479  ...    64.893976    72.575962
TEUSAQUILLO                12.578002   13.226724  ...    58.048620    64.920270
LOS MARTIRES               12.222021   12.852383  ...    56.405735    63.082904
ANTONIO NARINO              8.306228    8.734629  ...    38.333994    42.871876
PUENTE ARANDA              24.859353   26.141497  ...   114.728169   128.309401
LA CANDELARIA               7.178954    7.549215  ...    33.131524    37.053550
RAFAEL URIBE URIBE         30.080410   31.631835  ...   138.823823   155.257438
CIUDAD BOLIVAR             67.517765   71.000057  ...   311.600612   348.487108
TERMINALES O AEROPUERTOS    0.889953    0.935853  ...     4.107214     4.593415

[20 rows x 7 columns]

Ahora, el estadístico matricial de prueba es la suma de la diferencia entre la tabla original y la contigencia (una suerte de norma matricial). 

La fórmula para la casilla de la matriz que necesitamos es:
>>$r_{ij} = \frac{(A_{ij}-T_{ij})^2}{T_{ij}}$

Noten que esto es una suerte de error porcentual (elevando al cuadrado)

In [ ]:
tablaDiferencia = (queryIncidentesAnuales - tablaContingencia)**2/tablaContingencia
tablaDiferencia

                                2010        2012  ...        2018         2019
nombre_localidad                                  ...
USAQUEN                   375.054097  388.817934  ...  303.291429  1656.336390
CHAPINERO                   2.244852    1.034409  ...   12.974044    53.119584
SANTA FE                   23.779224    1.675526  ...    3.937715    64.411800
SAN CRISTOBAL              10.037506   23.762658  ...    5.575212   144.894962
USME                       44.061941   25.196124  ...   13.585578    99.527188
TUNJUELITO                 17.419852   16.967082  ...    6.587719    48.269960
BOSA                       18.175293   22.464405  ...   28.635761    40.466566
KENNEDY                    96.105355   71.207878  ...   17.614909   209.690756
FONTIBON                    7.434037   15.887201  ...   22.182689    12.951366
ENGATIVA                   10.869229    0.528851  ...   25.282126   163.429981
SUBA                        2.120565   26.466339  ...   30.476019   236.246654
BARRIOS UNIDOS              0.614185    1.200675  ...   10.332207    50.560090
TEUSAQUILLO                 0.466376    2.519952  ...    1.410499    48.167954
LOS MARTIRES                0.049521    6.510769  ...    8.900105    48.097442
ANTONIO NARINO              3.902980    2.082903  ...    0.489996    16.843157
PUENTE ARANDA               0.000796    0.312570  ...   16.666812     0.828340
LA CANDELARIA               0.004461    0.317923  ...   17.576325    14.210232
RAFAEL URIBE URIBE         13.190979   21.980391  ...    4.803713   102.674247
CIUDAD BOLIVAR            248.314635  216.563010  ...   51.436725   247.167487
TERMINALES O AEROPUERTOS    0.889953    1.210028  ...    0.298480     0.552742

[20 rows x 7 columns]

In [ ]:
from scipy import stats
gradosDeLibertad = (len(tablaDiferencia)-1)*(len(tablaDiferencia.columns)-1)
valorObtenido = tablaDiferencia.values.sum()
print("grados de libertad:", len(tablaDiferencia)-1,"X",len(tablaDiferencia.columns)-1,"=",gradosDeLibertad)
print("Estadístico de prueba:",valorObtenido)
chi2_estadistico, p_values, dof, ex = stats.chi2_contingency(queryIncidentesAnuales.values)
print("===Chi2 Stat===")
print("Estadístico Chi2:",chi2_estadistico)
print("grados de libertad:",dof)
print("p-value",p_val)

grados de libertad: 19 X 6 = 114
Estadístico de prueba: 9162.950394857253
===Chi2 Stat===
Estadístico Chi2: 9162.950394857253
grados de libertad: 114
p-value 0.0

Como el p-value es 0 es muy poco probable que las variables sean independientes.